doctype html
html(lang='en')
    head
        block head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            if title
                title= `Tourio | ${title}`
            else
                title Tourio
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
            script(src="/js/bundle.js" defer) 
    
    body 
        // Header
        include _header
        
        // Content
        
        block content
            h1 Placeholder heading
        
        // Footer
        include _footer